#mainLayout{
    position: relative;
    margin: 0 auto;
    z-index: 1; /* 设置父元素的z-index */
}
#mainLayout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* 设置背景图片的z-index */
    pointer-events: none; /* 让伪元素不接收鼠标事件 */
}
