/* dark模式样式 */
@media (prefers-color-scheme: dark) {
	body{background-color: rgb(29, 29, 29);color: rgb(172, 172, 172);}
	.table {color: rgb(172, 172, 172);}
	.span12 a:hover {color: rgb(122, 122, 122);}
	.span12 table tbody tr td a{font-size: 12px;color: #d3cfc9;}
	.table-hover>tbody>tr:hover>* {background-color: #2f2f2f;color: rgb(172, 172, 172);}
	tbody, td, tfoot, th, thead, tr {border-color: #474747;}
	table img{border-color: #3d3d3d;}
	.img_null {border-color: #3d3d3d;}
	.img_null_other{border-color: #3d3d3d;}
    .img_null_other_g{background-color: #3d3d3d;}
} 
