/* -------------------------------- 

hubweb.cn style

-------------------------------- */
body { 
  background-color: #f8f9fa;
}
#mainLayout{
  position: relative;
  margin: 0 auto;
  z-index: 1; /* 设置父元素的z-index */
}
#mainLayout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* 设置背景图片的z-index */
  pointer-events: none; /* 让伪元素不接收鼠标事件 */
}
/* 自定义样式 */
.wallpaper-card {
  position: relative;
  overflow: hidden;
  border-radius: 0; /* 移除圆角 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-decoration: none; /* 去掉超链接的下划线 */
  color: inherit; /* 继承父级文字颜色 */
  display: block; /* 确保<a>标签作为块级元素 */
}
.wallpaper-card:hover {
  transform: scale(1.1); /* 悬停时放大效果 */
  text-decoration: none; /* 确保悬停时也没有下划线 */
}
.wallpaper-card img {
  width: 100%; /* 图片宽度占满父容器 */
  height: auto; /* 高度自动调整，保持比例 */
  border-radius: 0; /* 图片直角 */
  transition: transform 0.3s ease-in-out; /* 添加图片过渡效果 */
}
.wallpaper-card:hover img {
  transform: scale(1.1); /* 悬停时图片放大效果 */
}
.card-footer {
  background-color: white; /* 背景改为白色 */
  color: black; /* 标题和时间字体颜色为黑色 */
  padding: 10px;
  /* 移除了顶部边框 */
}
.card-date {
  font-size: 0.8rem; /* 缩小标题字体 */
  margin-bottom: 5px;
}
.card-subtitle {
  font-size: 0.7rem; /* 缩小副标题字体 */
  color: #888; /* 副标题字体颜色为灰色 */
}
.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.category-buttons .btn {
  margin: 0 5px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #ccc; /* 默认边框颜色为灰色 */
  color: #666; /* 默认字体颜色为灰色 */
  background-color: transparent; /* 默认背景透明 */
}
.category-buttons .btn.active {
  background-color: #ccc; /* 选中时背景为灰色 */
  color: white; /* 选中时字体为白色 */
  border-color: #ccc; /* 选中时边框为灰色 */
}
.hidden {
  display: none;
}
@media (prefers-color-scheme: dark) {
  body{
    background-color: rgb(29, 29, 29);
    color: rgb(172, 172, 172);
  }
 .card-footer {
    background-color: rgb(35, 35, 35);
    color: rgb(172, 172, 172);
  }
  .category-buttons .btn{
    border:1px solid #4a4a4a;
  }
  .category-buttons .btn.active{
    background-color:#4a4a4a;
    border-color:#4a4a4a;
  }
} 

/* 壁纸详情页样式 */
.list-container {
  margin-top: 20px;
}
.list-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.list-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.download-buttons {
  display: flex;
  gap: 10px;
}
.content-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
/* 返回按钮样式 */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}
@media (prefers-color-scheme: dark) {
  body{
    background-color: rgb(29, 29, 29);
    color: rgb(172, 172, 172);
  }
  .text-muted{
    color: rgb(172, 172, 172);
  }
  .list-header{
     color: rgb(172, 172, 172);
  }
  .list-item{
    background-color: rgb(35, 35, 35);
  }
} 


/* 分页控件整体样式 */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

/* 每个分页项的默认样式 */
.pagination .page-item {
    margin: 0 2px; /* 每个分页项之间的间距 */
}

/* 分页链接的默认样式 */
.pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem; /* 内边距 */
    font-size: 1rem; /* 字体大小 */
    line-height: 1.5;
    color: #333; /* 默认字体颜色为深灰色 */
    background-color: #f8f9fa; /* 默认背景颜色为浅灰色 */
    border: 1px solid #ccc; /* 边框颜色 */
    border-radius: 0.25rem; /* 圆角 */
    text-decoration: none; /* 去掉下划线 */
    transition: color 0.3s, background-color 0.3s; /* 添加过渡效果 */
}

/* 鼠标悬停时的样式 */
.pagination .page-link:hover {
    color: #fff; /* 字体颜色变为白色 */
    background-color: #ccc; /* 背景颜色变为灰色 */
    border-color: #ccc; /* 边框颜色同步变化 */
}

/* 当前页的样式 */
.pagination .page-item.active .page-link {
    z-index: 3; /* 确保当前页在最上层 */
    color: #fff; /* 字体颜色为白色 */
    background-color: #ccc; /* 背景颜色为灰色 */
    border-color: #ccc; /* 边框颜色同步变化 */
}

/* 禁用状态的样式 */
.pagination .page-item.disabled .page-link {
    color: #c1c1c1; /* 字体颜色为灰色 */
    pointer-events: none; /* 禁止点击 */
    background-color: #f8f9fa; /* 背景颜色为浅灰色 */
    border-color: #ccc; /* 边框颜色 */
}

@media (prefers-color-scheme: dark) {
  .pagination .page-link{
	color: rgb(191, 185, 177);
    background-color: #313131;
    border: 1px solid #313131;
  }
  .pagination .page-link:hover {
    background-color: #696969;
    border-color: #696969;
}
  .pagination .page-item.active .page-link{
	  background-color: #696969;
	  border-color: #696969;
  }
  .pagination .page-item.disabled .page-link {
    color: #454545;
    background-color: #313131;
    border-color: #313131;
	}
}
